

<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-md-offset-2" style="margin-top:100px;border: solid #e3e3e3 1px;">
	<div class="container">


		<h1>New Details</h1>

		<%= form_for @detail do |f| %>
		<p>
			From address
			<%= f.text_area :from %>
		</p>


		<p>
			To address
			<%= f.text_area :to %>
		</p>

		<p>
			Billno
			<%= f.text_field :billno %>
		</p>	

		<p>
invoice date
			<%= f.date_select :invoicedate %>
		</p>

		<p>
		Due date

			<%= f.date_select :duedate %>
		</p>

		<p> <%= f.submit "save and Next" ,class: "btn btn-primary btn-lg" %> </p>

		<% end %>


	</br>

</div>
</div>


<div class="flash">
	<div class="col-md-2 col-md-offset-0" style="margin-top:120px;">
		<% if @detail.errors.any? %>

		<div id="error_explanation">
			<span class="text-danger"><%= pluralize(@detail.errors.count, "error") %> prohibited this detail from being saved:</span>

			<ul>
				<% @detail.errors.full_messages.each do |message| %>
				<li class="text-danger"> <%= message %></li>
				<% end %>
			</ul>
		</div>
		<% end %>

	</div>
</div>

