<div class="container" style="margin-top:50px;">

	
	<h1> Details </h1>
	
	<p>
		TO:<%= @showdetail.to %>
	</p>

	<p>
		from:<%=@showdetail.from %>
	</p>

	<p>
		billno:<%= @showdetail.billno %>
	</p>

	<p>
		invoice created at:  <%=@showdetail.invoicedate %>
	</p>

	<p>
		due date :  <%= @showdetail.duedate %>
	</p>

	
	
</div>