<!DOCTYPE html>
<html>
<head>
  <title>Railsinvoice1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<a class="navbar-brand" href="#">Invoice Generator</a>
	<ul class="nav navbar-nav">
		<li class="active">
			
			<%= link_to("Home", root_path ) %>
		</li>
		
	</ul>
</nav>



<div class="container" style="margin-top:60px;">
	<h1>
		
	</h1>

	<% if @a==0 %>
	0 records found
	<% end %>

</div>




  

<%= yield %>

</body>
</html>
